<div class="po-wrapper">
    <po-page-dynamic-search
      p-title="Cadastro de Funcionários"
      [p-actions]="pageActions"
      [p-filters]="advancedSearchFields"
      (p-quick-search)="onQuickSearch($event)"
      (p-advanced-search)="onAdvancedSearch($event)"
      (p-change-disclaimers)="onChangeDisclaimers($event)">
      @if (tableColumns.length > 0) {
        <div><po-table
            [p-columns]="tableColumns"
            [p-items]="tableItems">
        </po-table></div>
      }
    </po-page-dynamic-search>
</div>